.frame {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 300px;
    height: 300px;
    border: 10px solid gray;
    justify-items: center;
    align-items: center;
    position: relative;
}

.panel {
    background-color: lightblue;
    width: 96px;
    height: 96px;
    border: 2px solid black;
}

.overlay-image {
    position: absolute;
    width: 300px;
    height: 300px;
    overflow: hidden;
}

.overlay-image img {
    width: 100%;
    height: auto;
    max-height: 100%;
    object-fit: cover;
}

.message {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    text-align: center;
    align-items: center;
    flex-direction: column;
}


